.task-description {
  width: 75%;
}


.sub-task-container {
  margin-left: 1em;
}

.sub-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.add-sub-task-field {
}

.completed-btn {
  margin-bottom: 1em;
}

.save-btn {

}

.strike-through {
  text-decoration: line-through;
}
