<mat-expansion-panel #itemExpPanel>
  <mat-expansion-panel-header>
    <mat-panel-title [class.strike-through]="task.completed" class="task-panel-title">
      <div class="task-panel-title-inner">
        {{task.title}}
      </div>
    </mat-panel-title>
    <mat-panel-description class="notes-header">
      <div class="notes-inner">{{task.notes}}</div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngIf="!task.completed" class="completed-btn">
    <button mat-button
            (click)="onTaskChecked(task)"
            color="alert">Mark Complete</button>
  </div>

  <div>
    <mat-form-field class="task-title">
      <input placeholder="Task" type="text" title="Title"
             value="{{task.title}}" matInput
             [(ngModel)]="task.title" ></mat-form-field>
  </div>

  <div>
    <mat-form-field class="task-notes">
      <textarea type="text" title="Notes"
                placeholder="Notes"
                value="{{task.notes}}"
                matInput
                [(ngModel)]="task.notes"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             [(ngModel)]="task.dueDate"
             [matDatepicker]="picker"
             placeholder="Choose a due date">
      <mat-datepicker-toggle matSuffix [for]="picker" *ngIf="!task.completed"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <p>Sub-tasks: <span *ngIf="task.subTasks.length == 0">None</span></p>

    <div class="sub-task-container">
      <app-task-item *ngFor="let subTask of task.subTasks"
                     [task]="subTask"></app-task-item>
      <!--<ul class="sub-task-list">-->
        <!--<li *ngFor="let subTask of task.subTasks">-->
          <!--<mat-checkbox-->
            <!--[checked]="subTask.completed"-->
            <!--[(ngModel)]="subTask.completed">{{subTask.title}}</mat-checkbox>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<mat-form-field>-->

        <!--<input type="text" matInput placeholder="Add Sub-task (Press enter)"-->
               <!--(keyup.enter)="onSubTaskKey($event)"-->
               <!--[(ngModel)]="subTaskEditField">-->
      <!--</mat-form-field>-->
      <button mat-button (click)="openAddTaskDialog()">Add Sub task</button>

    </div>
  </div>

  <div *ngIf="!task.completed">
    <button mat-button class="save-btn"
            (click)="itemExpPanel.expanded = false; save()"
            color="alert">Save</button>
  </div>
</mat-expansion-panel>
