.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  padding-top: 1em;
}

.task-lists-header {
  margin-left: 1em;
}

.hide-scroll::-webkit-scrollbar { width: 0 !important }

.settings-menu {
  position: absolute;
  right: 1em;
  top: 0;
}

#settings-menu-icon {
  font-size: 3em;
}

.loading-spinner mat-spinner {
  margin: auto;
}

.log-in-card {
  top: 30%;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.log-in-card-content {
  margin-bottom: 1em;
}

.log-in-card > .mat-button {
  margin: auto;
}
