<div id="side-bar">
  <h4 class="task-lists-header">Task Lists</h4>
  <mat-list class="task-list-list">
    <mat-list-item *ngFor="let list of taskLists" class="task-list-item">
      <div>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="openEditTaskListDialog(list)">Edit</button>
          <button mat-menu-item (click)="openDeleteTaskListDialog(list)">Delete</button>
        </mat-menu>

        <button class="drop-down-btn" mat-icon-button [matMenuTriggerFor]="appMenu">
          <i class="material-icons list-drop-down" title="Show actions">arrow_drop_down</i>
        </button>
      </div>

      <button mat-button [class.active]="active?.id === list.id"
              class="task-list-button"
        (click)="activateTaskList(list)">{{list.name}}</button>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <button mat-button class="add-list-btn"
    (click)="openAddListDialog()">Add List<i class="material-icons">add</i></button>
</div>
