#side-bar {
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
  text-align: center;
}

.task-lists-header {
  //color: white;
}

#side-bar-list {
  list-style-type: none;
}

.list-drop-down {
  cursor: pointer;
  //position: relative;
  //width: 100%;
}

#side-bar-list li {
  //color: aliceblue;
}

.active {
  border-bottom: 2px solid;
}

.add-list-btn {
  margin-top: 1em;
}
