#side-bar {
  margin-top: 1em;
  text-align: center;
  width: 14em;
}

#side-bar-list {
  list-style-type: none;
}

.list-drop-down {
  cursor: pointer;
}

.drop-down-btn {
  width: inherit;
}

.active {
  border-bottom: 2px solid;
}

.add-list-btn {
  margin-top: 1em;
}

.task-list-item {
  min-width: 0;
}

.task-list-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 84%;
}

.log-out-btn {
  bottom: 0;
}
