/* You can add global styles to this file, and also import other style files */

@import "~font-awesome/css/font-awesome.min.css";
@import "assets/css/material-custom";
@import "~material-design-icons/iconfont/material-icons.css";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.app-container {
  padding-top: 1em;
  height: 100%;

}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

// Get rid of weird focus ring around buttons
button:focus {
  outline: none;
}

//.sidenav-container .mat-drawer-content {
//  margin-left: $sidenav-width !important;
//}

//@media (max-width: 1000px) {

//$sidenav-width: 11em;
//
//.mat-sidenav {
//  width: $sidenav-width;
//}
//.mat-drawer-content {
//  margin-left: $sidenav-width !important;
//}
//}

